*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --radius: 10px;
    --pink-color:rgb(255, 84, 226);
    --pink-light-color:rgb(255, 158, 239);
    --black-light-color:rgb(59, 59, 59);
}

a{
    text-decoration: none;
}
.container{
    padding-right: 10rem;
    padding-left: 10rem ;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
}
nav span{
    display: none;
}
nav img{
    width: 10rem;
    /* border: 2px solid red; */
}
nav a{
    align-self: flex-start;
    background: var(--pink-color);
    width: 11rem;
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
    color: white;
    border-radius: var(--radius);
    transition: all .3s ease-in-out;
    margin: auto 1px;
}
nav a:hover{
    background: var(--pink-color);
    color: var(--black-light-color);
}
section{
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    line-height: 2rem;
}

section header{
    font-size: 2.5rem;
    text-align: center;
    color: var(--black-light-color);
    font-weight: bolder;
}
section .disc-text{
    margin-top: 1rem;
    color: rgb(88, 88, 88);
    font-size: 1.5rem;
}
section div a{
    background: var(--pink-color);
    border-radius: var(--radius);
    padding: 4px;
}

.same-css{
    display: flex;
}
.same-css img{
    width: 45rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.same-css >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
#download{
     line-height: 4rem;
    background: var(--pink-color);
}
#download header{
    font-size: 2rem;
}
#download a{
    background: white;
    width: 11rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 1rem;
    color: var(--black-light-color);
    border-radius: var(--radius);
    transition: all .3s ease-in-out;
    position: relative;
}
#download a .highlight{
    background: var(--black-light-color);
    color: white;
    border-radius: var(--radius);
    padding: 9px;
    font-size: 11px;
}
#download a .highlight:hover{
    color: black;
    background: white;
}
#download a:hover{
    background: var(--pink-light-color);
}
.tooltip{
  visibility: hidden;
  width: 6rem;
  height: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 3.3rem;
  left: 57%;
  opacity: 0;
  font-size: 11px;
  transition: opacity 0.3s;
}
.tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
#download a:hover .tooltip{
    visibility: visible;
    opacity: 1;
}
body{
    overflow-x: hidden;
}

/* circles css */
.circle-unfilled,.circle-filled{
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.3;
}
.circle-unfilled{
    top: 50%;
    right: -10rem;
    border: 10px solid var(--pink-color);
    width: 85rem;
    height: 85rem;
    
}
.circle-filled{
    background: var(--pink-color);
     width: 79rem;
    height: 79rem;
    top: 55%;
    right: -7rem;
}
.circle-unfilled-2{
    top: 140rem;
    left: -15rem;
    width: 75rem;
    height: 75rem;
    
}
.circle-filled-2{
     width: 69rem;
    height: 69rem;
    top: 143rem;
    left: -11rem;
}
.circle-unfilled-3{
    top: -60rem;
    left: 1rem;
    width: 70rem;
    height: 70rem;
    
}
.circle-filled-3{
     width: 65rem;
    height: 65rem;
    top: -58rem;
    left: 3rem;
}
/* End circles CSS */

@media only screen and (max-width: 600px) {
    body{
        overflow-y:auto ;
    }
    .container{
    padding-right: 2rem;
    padding-left: 2rem ;
}
    nav{
        gap: 5rem;
        align-items: center;
    }
    nav img{
    display: none;
    width: 10rem;
    /* border: 2px solid red; */
}
nav span{
    display: block;
    font-size: 1.7rem;
    font-weight: bolder;
    color: var(--black-light-color);
}
nav a{
    width: 10rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: var(--radius);
}
section{
    padding-top: 2rem;
    line-height: 1.7rem;
}
section header{
    font-size: 1.6rem;
}
section .disc-text{
    margin-top: 1rem;
    color: rgb(88, 88, 88);
    font-size: 1.3rem;
}
section div >img{
    width: 85vw;
}
.same-css{
    flex-direction: column;
}
.same-css img{
    width: 85vw;
}
.circle-unfilled{
    top: 50%;
    right: 6rem;
    width: 85rem;
    height: 85rem;;
    
}
.circle-filled{
    top: 55%;
    right: 9rem;
    width: 79rem;
    height: 79rem;
}
.circle-unfilled-2{
    top: 140rem;
    left: -15rem;
    width: 30rem;
    height: 30rem;
    
}
.circle-filled-2{
    top: 142rem;
    left: -13rem;
    width: 25rem;
    height: 25rem;
}
.circle-unfilled-3{
    top: -11rem;
    left: 4rem;
    width: 20rem;
    height: 20rem;
}
.circle-filled-3{
    top: -9.6rem;
    left: 5.5rem;
    width: 17rem;
    height: 17rem;
}

#download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    padding: 0px 10px 0px 10px;
}
#download a{
    width: 100%;
    padding: 0px;
}
#download header{
    font-size: 1.5rem;
    line-height: 2rem;
}
}