@import './base.css';

.darkTheme {
  background-color: #363636;
  color: #f1f1f1;
  & span {
    background-color: transparent;
    color: #f1f1f1;
  }
  transition: background-color 0.5s ease-in-out;
  & select {
    background-color: #363636;
    transition: none;
    option {
      background-color: transparent;
    }
  }
}
.lightTheme {
  color: #363636;
  background-color: #f1f1f1;
  & .about {
    background-color: var(--color-bg-light);
  }
  transition: background-color 0.5s ease-in-out;
  & select {
    background-color: #f1f1f1;
    option {
      background-color: transparent;
    }
  }
}
