*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title{
    /* background-color: rgb(20, 44, 44); */
    background-color: rgb(255, 43, 255);
    color: wheat;
    width: 100%;
    height: 3rem;
    -webkit-app-region:drag;
    cursor: move;
    position: relative;
    text-align: center;
    padding: 0 1rem 0 1rem;
    color: white;
}
.title .bible-setting{
  /* border: 1px solid green; */
  position: absolute;
}
.title button{
    -webkit-app-region:no-drag;
    position: absolute;
    right: 0px;
    top: 5px;
    background-color: white;
    margin-right: 0.5rem;
}
.title button:hover{
    background-color: rgb(196, 196, 196);
}

/* End of Title */
.note{
    padding: 0.4rem 1rem 0 1rem;
  }
  .note .alert-container{
    
    position: relative;
}

.note .alert{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
position: absolute;
right: 1rem;
z-index: 1;
padding: 0.4rem;
}
.note .alert button{
    border: none;
    background: none;
    margin: 0 0 0 1rem;
    height: 1.2rem;
    width: 1.2rem;
}
.note .alert button img{
    width: inherit;
    height: inherit;
}

.note .note-body .panel{
    display: none;
  }
 /*  .note .take-note textarea {
    max-width: 50rem;
    max-height: 24rem;
    min-width: 25rem;
    min-height: 20rem;
    padding: 5px;
    resize: both;
    border-radius: 5px;
  } */
  #editor-container{
     margin: 50px auto;
    max-width: 720px;
  }
  #snow-container{
    height: 350px;
  }
  .take-note ::placeholder{
    color: rgb(255, 43, 255);
    padding: 6px;
    opacity: 0.8;
  }
  .note .note-body .read-notes{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1rem;
  }
  .note .note-body .read-notes h4{
    border-bottom: 1px;
    border-bottom-style: groove;
  }
  .note .note-body .read-notes #read-body{
    /* background-color: rgb(221, 221, 221); */
    border: 1px solid rgb(80, 80, 80);
    border-radius: 5px;
    padding: 1rem;
  }
  /* some topography */
  .t-bold{
    font-weight: 700;
    font-style: oblique;
  }
  /* End of Some topography */
  
  .note .note-body .view-notes .view-notes-body .note-view:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* classes for animation */
.whiteColor{
  color: white;
}
.boxShadow:hover{
  box-shadow: 0 4px 8px 0 rgba(255, 222, 252, 0.19), 0 6px 20px 0 rgba(255, 255, 255, 0.19);

}
.dark{
  color: white;
  background-color: rgb(80, 79, 79);
}
/* End classes for animation */