/* tooltp container */
.verse-content .tooltp {
	position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
	cursor: pointer;
}
.verse-content .tooltp .fa-highlighter{
    font-size: 10px;
    margin-left: 10px;
}
.verse-content .tooltp .fa-highlighter:hover{
    color: rgb(105, 105, 105);
}

/* tooltp text */
.verse-content .tooltp .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltp text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltp */
    opacity: 0;
    transition: opacity 0.3s;
}

.verse-content .tooltp .tooltiptext .colors{
	/* position: relative; */
	border-radius: 5px;
	width: 20px;
	height: 20px;
	display: inline-block;
	opacity: 0.6;
	/* color: #ffdb3b;
	color: #0891ec;
	color: #ea08ff; */
	/* background-color: #555; */
    /* background-color: null; */
	transition: opacity .3s ease-in-out;
}
.verse-content .tooltp .tooltiptext .colors:hover{
	opacity: 1;
}
.verse-content .tooltp .tooltiptext .remove-color{
	padding: 0px 0px 20px 4px;
	font-size: small;
    color: #ffa1a1;
}

/* tooltp arrow */
.verse-content .tooltp .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltp text when you mouse over the tooltp container */
.verse-content .tooltp:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}