html{
  scroll-behavior: smooth;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  /* margin: auto; */
  /* max-width: 38rem; */
  /*padding: 2rem;*/
  transition: background-color .5s;
}

nav #menu-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
nav a{
  text-decoration: none;
}
nav a label{
  color: #111;
}
nav select{
  outline: none;
  /*border: 3px solid green;*/
  border-radius: 5px;
  cursor: pointer;
}
nav #take-note{
  position: absolute;
  right: 8px;
  font-size: 2rem;
  text-decoration: none;
  color: #585757;
  bottom: 5px;
}
/* nav #bookmark{
  color: #868686;
  margin-left: 3rem;
}
nav #bookmark i{
  font-size: 5px;
}
nav #bookmark:hover{
  box-shadow: 0 4px 8px 0 rgba(255, 42, 237, 0.19), 0 6px 20px 0 rgba(255, 0, 234, 0.19);
} */

/* Dropdown Button */
.dropbtn:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 42, 237, 0.19), 0 6px 20px 0 rgba(255, 0, 234, 0.19);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 3rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
}

/* Links inside the dropdown */
.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.dropdown-content div .this-bookmark{
  margin-right: 30px;
}
.dropdown-content div .delete-bookmark{
  width: 25px;
  padding: 2px 5px 0px 5px;
  /* border: 1px solid red; */
  transition: color .4s ease-in-out;
}
.dropdown-content div .delete-bookmark:hover{
  color: red;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
  background-color: #ddd;
  border-left: 2px solid rgb(255, 84, 226);
  border-right: 2px solid rgb(255, 84, 226);
  border-radius: 10px 10px 10px 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


/* END OF DROPDOWN BUTTON */

/* nav #takeNote{
  border: 2px solid red;
} */

#bible-content{
  padding: 70px 0px 5px 0px;
}
.verse {
	font-weight: bold;
	color: #D2B48C;
	font-size: 80%;
  font-style: italic;
  padding-right: 5px;
	/* [disabled]vertical-align: super; */
}
#bible-content .verse-content{
  padding: 5px;
  border-radius: 5px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}


/* The sideBar CSS */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav span:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  color: black;
}
.sidenav .help-navs{
  /* border: 2px solid red; */
  padding-left: 15px;
}
.sidenav .help-navs ul{
  list-style-type: disc;
}
.sidenav .help-navs ul li{
  cursor: pointer;
  font-weight: 700;
}
.sidenav .help-navs ul li:hover{
  color: #e4e4e4;
}
/* END IF THE SIDE NAV */

/* MODAL CSS */
.modial{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modial .modal-header button{
  background: none;
  border: none;
  padding: 15;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  border-radius: 20%;
}
.modial .modal-header button:hover{
  font-weight: 600;
}
/* Animation for Modal */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
/* END OF MODAL CSS */

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav span {font-size: 18px;}
}

/* this is for switch btn */
.btnMain-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 0 20px;
}
.btnMain-body label{
  margin-left: 4px;
  color: yellow;
}
.btnMain-body .btn-body{
  background-color: rgb(211, 211, 211);
  border: solid 1px gray;
  width: 48px;
  border-radius: 999px;
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.1);
  transition: all 0.8s ease;
}
.btnMain-body .btn-body .btn{
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  border: 1px solid gray;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btnMain-body.active .btn-body{
  background-color: rgb(255, 43, 255);
}
.btnMain-body.active .btn-body .btn{
  transform: translateX(75%);
}

.btnMain-body input[type=checkbox]{
  display: none;
}
/* End for switch Btn */

/* class to apply */
.stay-top{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.noteBg{
  background-color: #d8d8d88e;
  border-radius: 5px;
  padding: 3px;
}
/* End class to apply */

#main .container-fluid{
  display: flex;
}
/* Note Taking Div */
.note{
  /* resize: horizontal; */
  /* width: 800px; */
  width: 0px;
  /* border: 2px solid red; */
  /* border-left: 3px solid rgb(100, 100, 100); */
  position: sticky;
  top: 5rem;
  right: 2rem;
  border-radius: 5px;
  height: 40rem;
  overflow: hidden;
  /* cursor: w-resize; */
  padding: 10px;
  transition: width .3s ease-in-out;
  /* background-color: #818181; */
}
.note .nav{
  margin: 5px;
}
.note .nav button{
  outline: none;
}
.note .hide{
  display: none;
}
.note .note-body .panel{
  display: none;
}
.note textarea {
  max-width: 24rem;
  max-height: 24rem;
  padding: 5px;
  resize: both;
  border-radius: 5px;
}
::placeholder{
  color: red;
  padding: 6px;
  opacity: 0.8;
}
.note .note-body .read-notes{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* some topography */
.t-bold{
  font-weight: 700;
  font-style: oblique;
}
/* End of Some topography */

.note .note-body .view-notes .view-notes-body .note-view:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Customizing scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 84, 226);
  border-radius: 13px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 43, 255);
  border-radius: 10px;
}
/* End Customizing scroll bar */

/* Medium devices (landscape tablets, 900px and down) */
@media only screen and (max-width: 900px) {
  .note{
    /* width: 200px; */
    position: sticky;
    /* overflow: hidden; */
    top: 20px;
    /* right: 1rem; */
  }
}