html{
  scroll-behavior: smooth;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  /* margin: auto; */
  /* max-width: 38rem; */
  padding: 2rem;
  transition: background-color .5s;
}

nav #menu-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
nav a label{
  color: #111;
}
nav select{
  outline: none;
  border: 3px solid green;
  border-radius: 5px;
  cursor: pointer;
}

.verse {
	font-weight: bold;
	color: #D2B48C;
	font-size: 80%;
  font-style: italic;
  padding-right: 5px;
	/* [disabled]vertical-align: super; */
}
#bible-content .verse-content{
  padding: 5px;
  border-radius: 5px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
textarea {
  display: none;
}

/* The sideBar CSS */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav span:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  color: black;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav span {font-size: 18px;}
}

/* this is for switch btn */
.btnMain-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 0 20px;
}
.btnMain-body label{
  margin-left: 4px;
  color: yellow;
}
.btnMain-body .btn-body{
  background-color: rgb(211, 211, 211);
  border: solid 1px gray;
  width: 48px;
  border-radius: 999px;
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.1);
  transition: all 0.8s ease;
}
.btnMain-body .btn-body .btn{
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  border: 1px solid gray;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btnMain-body.active .btn-body{
  background-color: rgb(109, 248, 116);
}
.btnMain-body.active .btn-body .btn{
  transform: translateX(75%);
}

.btnMain-body input[type=checkbox]{
  display: none;
}